---
http_interactions:
- request:
    method: get
    uri: http://www.overpass-api.de/api/interpreter?data=%5Bout:json%5D%5Btimeout:25%5D%3B(node%5B%22amenity%22=%22bicycle_parking%22%5D(42.85633644214852,-85.78742980957031,43.03100396557044,-85.54573059082031)%3B)%3Bout%20body%3B%3E%3Bout%20skel%20qt%3B
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "version": 0.6,
          "generator": "Overpass API",
          "osm3s": {
            "timestamp_osm_base": "2015-02-26T19:22:02Z",
            "copyright": "The data included in this document is from www.openstreetmap.org. The data is made available under ODbL."
          },
          "elements": [

        {
          "type": "node",
          "id": 1745764084,
          "lat": 42.9646785,
          "lon": -85.6656159,
          "tags": {
            "amenity": "bicycle_parking",
            "bicycle_parking": "stands",
            "capacity": "10",
            "covered": "no",
            "operator": "Grand Rapids Public Library",
            "source": "knowledge"
          }
        },
        {
          "type": "node",
          "id": 3231557732,
          "lat": 42.9652031,
          "lon": -85.6701165,
          "tags": {
            "amenity": "bicycle_parking",
            "bicycle_parking": "stands",
            "capacity": "18"
          }
        },
        {
          "type": "node",
          "id": 3232361027,
          "lat": 42.9550500,
          "lon": -85.6307751,
          "tags": {
            "amenity": "bicycle_parking"
  [...]
- request:
    method: put
    uri: https://dgri-web.s3.amazonaws.com/maps/bike_parking.geojson
    body:
      encoding: ASCII-8BIT
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-85.6656159,42.9646785]},"properties":{"type":"stands","capacity":"10"},"id":1745764084},{"type":"Feature","geometry":{"type":"Point","coordinates":[-85.6701165,42.9652031]},"properties":{"type":"stands","capacity":"18"},"id":3231557732},{"type":"Feature","geometry":{"type":"Point","coordinates":[-85.6307751,42.95505]},"properties":{"type":null,"capacity":null},"id":3232361027},{"type":"Feature","geometry":{"type":"Point","coordinates":[-85.6461012,42.9596197]},"properties":{"type":null,"capacity":null},"id":3236793099},{"type":"Fea[...]
