---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/ThePyramidScheme/events?access_token=CAAE3nAAWevABANHtbBh8BwfVFWNKoI4se5Q1C6Ay9BWVjjLE09wOA8gj9RKStSm5znwhyaPDwlZCDCjPGxxhKbdttY0DXLIkzTg484gtPOE36RKoXefSNuOBt9p3ZApXkrsGJSpSoEtcLqWug6nOme5fxySBCES5a5zEMGcuGxhHnnsnteIcBC5JJNnycZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"3705ee604879e60ffec202de0afd94bf4a4f90e6"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: UTF-8
      string: '{"data":[{"location":"The Pyramid Scheme","name":"REVEREND HORTON HEAT
        + Nekromantix + Whiskey Shivers \u0040The Pyramid Scheme 6\/10","start_time":"2015-06-10T20:00:00-0400","timezone":"America\/Detroit","id":"1418539731769421"},{"location":"The
        Pyramid Scheme","name":"TEMPLES \u0040 The Pyramid Scheme 6\/2","start_time":"2015-06-02T19:00:00-0400","timezone":"America\/Detroit","id":"339783776226431"},{"location":"The
        Pyramid Scheme","name":"POKEY LAFARGE + Caroline Rose\u0040 The Pyramid Scheme
        Thu. 5\/14","start_time":"2015-05-14T20:00:00-0400","timezone":"America\/Detroit","id":"803203189767846"},{"location":"The
        Pyramid Scheme","name":"THE CAST AWAY TOUR feat. Fable[...]
