---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/175495679140580?access_token=CAAE3nAAWevABAFv3uHALBqUHMWIqogd11HrdsXgAV2oFXfp7iPVrWXKFNmZAEsYKbN2DZAcDoAJthr3l2BiUqi2MGNVwS2DmgMuQE6x0XV51QweUFKleYALsCjN0p9WK28LFWZC8kIf3LwGfuUqSknmZBFEH1iAGbsj1yJTr1Wxi5NTK8JtkkScmpwyZAxHjfAZASAkAJHGgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"04313753b28e28114d33659f08fccb3799586c19"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"id":"175495679140580","about":"Vegetarian\/Vegan\/Raw","can_post":true,"category":"Restaurant\/cafe","category_list":[{"id":"192108214153222","name":"Breakfast
        & Brunch Restaurant"},{"id":"200742186618963","name":"Vegetarian & Vegan Restaurant"},{"id":"188296324525457","name":"Sandwich
        Shop"}],"checkins":3251,"cover":{"cover_id":"815107695179372","offset_x":0,"offset_y":40,"source":"https:\/\/fbcdn-sphotos-f-a.akamaihd.net\/hphotos-ak-xtp1\/v\/t1.0-9\/s720x720\/10801561_815107695179372_2923279076534289718_n.jpg?oh=4c5cf5702016adf9e3706de16ff78b19&oe=55AAA6DB&__gda__=1436672588_a956d0f0cd5a6cf334e98f4fee30dc91","id":"815107695179372"},"description":"Bartertown
        Diner has taken over the space at 6 Jefferson, in Grand Rapids, Michigan.
        Bartertown Diner is a vegetarian\/vegan\/raw, worker owned and operated diner.
        The goal of the restaurant is to promote fresh, local ingredients along with
        a positive, fair working environment. \n\nOn Thursday, Friday and Saturday
        nights from 10 p.m. to 3 a.m., Latenight Bartertown offers creative vegan
        burritos from $4 to $9 along with other menu items.\n\n\n\n\n\n","general_manager":"Each
        member of our collective is charged equally with management. ","has_added_app":false,"hours":{"wed_1_open":"11:00","wed_1_close":"21:00","thu_1_open":"11:00","thu_1_close":"21:00","fri_1_open":"11:00","fri_1_close":"21:00","sat_1_open":"09:00","sat_1_close":"21:00","sun_1_open":"09:00","sun_1_close":"14:00"},"is_community_page":false,"is_published":true,"likes":5777,"link":"https:\/\/www.facebook.com\/pages\/Bartertown-Diner\/175495679140580","location":{"city":"Grand
        Rapids","country":"United States","latitude":42.962909436982,"longitude":-85.664196992376,"state":"MI","street":"6
        Jefferson Ave SE","zip":"49503"},"name":"Bartertown Diner","parking":{"lot":0,"street":1,"valet":0},"payment_options":{"amex":1,"cash_only":0,"discover":1,"mastercard":1,"visa":1},"phone":"(616)
        233-3219","price_range":"$ (0-10)","public_transit":"Rapid routes 14, 15,
        4 and 3 all stop near our location.","restaurant_services":{"delivery":0,"catering":1,"groups":1,"kids":0,"outdoor":1,"reserve":0,"takeout":1,"waiter":1,"walkins":1},"restaurant_specialties":{"breakfast":1,"coffee":1,"dinner":1,"drinks":0,"lunch":1},"talking_about_count":98,"website":"www.bartertowngr.com","were_here_count":3251}'
  recorded_at: Thu, 09 Apr 2015 19:25:22 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/175495679140580/photos?access_token=CAAE3nAAWevABAFv3uHALBqUHMWIqogd11HrdsXgAV2oFXfp7iPVrWXKFNmZAEsYKbN2DZAcDoAJthr3l2BiUqi2MGNVwS2DmgMuQE6x0XV51QweUFKleYALsCjN0p9WK28LFWZC8kIf3LwGfuUqSknmZBFEH1iAGbsj1yJTr1Wxi5NTK8JtkkScmpwyZAxHjfAZASAkAJHGgZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"6a6892d2cbe71f3ed55fedb5c2718c5cd2e9df54"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"175527992470682","created_time":"2010-12-22T05:44:31+0000","from":{"category":"Restaurant\/cafe","category_list":[{"id":"192108214153222","name":"Breakfast
        & Brunch Restaurant"},{"id":"200742186618963","name":"Vegetarian & Vegan Restaurant"},{"id":"188296324525457","name":"Sandwich
        Shop"}],"name":"Bartertown Diner","id":"175495679140580"},"height":479,"icon":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yz\/r\/StEh3RhPvjk.gif","images":[{"height":1365,"source":"https:\/\/fbcdn-sphotos-f-a.akamaihd.net\/hphotos-ak-xpf1\/t31.0-8\/134859_175527992470682_887927_o.jpg","width":2048},{"height":960,"source":"https:\/\/fbcdn-sphotos-f-a.akamaihd.net\/hphotos-ak-xpf1\/t31.0-8\/p960x960\/134859_175527992470682_887927_o.jpg","width":1440},{"height":720,"source":"https:\/\/fbcdn-sphotos-f-a.akamaihd.net\/hphotos-ak-xpf1\/t31.0-8\/p720x720\/134859_175527992470682_887927_o.jpg","width":1080},{"height":600,"source":"https:\/\/fbcdn-sphotos-f-a.akamaihd.net\/hphotos-ak-xpf1\/t31.0-8\/p600x600\/134859_175527992470682_887927_o.jpg","width":900},{"height":480,"source":"https:\/\/fb[...]
