---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/ThePyramidScheme/events?access_token=CAAE3nAAWevABANHtbBh8BwfVFWNKoI4se5Q1C6Ay9BWVjjLE09wOA8gj9RKStSm5znwhyaPDwlZCDCjPGxxhKbdttY0DXLIkzTg484gtPOE36RKoXefSNuOBt9p3ZApXkrsGJSpSoEtcLqWug6nOme5fxySBCES5a5zEMGcuGxhHnnsnteIcBC5JJNnycZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"951fc27b7271d2817a5c035e95de4585c64c2ef2"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"CLAP YOUR HANDS SAY YEAH (10th Anniversary Tour)
        + Teen Men \u0040 The Pyramid Scheme 7\/28","start_time":"2015-07-28T20:00:00-0400","timezone":"America\/Detroit","id":"838532796226882"},{"name":"ROYAL
        THUNDER + Wild Throne + Blue Snaggletooth \u0040The Pyramid Scheme Tues June
        23","start_time":"2015-06-23T19:00:00-0400","timezone":"America\/Detroit","id":"397218560449978"},{"name":"::SOLD
        OUT:: MELVINS \u0040The Pyramid Scheme 6\/16","start_time":"2015-06-16T20:00:00-0400","timezone":"America\/Detroit","id":"614943998642023"},{"name":"REVEREND
        HORTON HEAT + Nekromantix + Whiskey Shivers \u0040The Pyramid Scheme 6\/10","start_time":"2015-06-10T20:00:00-0400","timezone":"America\/Detroit","id":"1418539731769421"},{"name":"COMPLETE
        VII DANCE PARTY \u0040The Pyramid Scheme Sat 6\/6","start_time":"2015-06-06T22:00:00-0400","timezone":"America\/Detroit","id":"80085307661729[...]
