---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/uicagr?access_token=CAAE3nAAWevABANHtbBh8BwfVFWNKoI4se5Q1C6Ay9BWVjjLE09wOA8gj9RKStSm5znwhyaPDwlZCDCjPGxxhKbdttY0DXLIkzTg484gtPOE36RKoXefSNuOBt9p3ZApXkrsGJSpSoEtcLqWug6nOme5fxySBCES5a5zEMGcuGxhHnnsnteIcBC5JJNnycZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"0a57a5fecc7b4efc2d2d7ed39b34efd8a759ed13"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: UTF-8
      string: '{"id":"128013177487","about":"Urban Institute for Contemporary Arts
        (UICA) is Grand Rapids'' center for contemporary visual arts, film, special
        events, education, and community events.","can_post":true,"category":"Non-profit
        organization","category_list":[{"id":"197384240287028","name":"Art Gallery"},{"id":"151676848220295","name":"Education"},{"id":"192511100766680","name":"Movie
        Theatre"}],"checkins":3446,"cover":{"cover_id":"10153016919737488","offset_x":0,"offset_y":0,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xpf1\/v\/t1.0-9\/s720x720\/10985544_10153016919737488_4237344328693476936_n.jpg?oh=f78bb9d709a5a899116d61cc3d971ad1&oe=558B7576","id":"10153016919737488"},"description":"The
        Urban Institute for Contemporary Arts initiates conversation in response to
        visual art, music, film, literature, dance and performance art featuring regional,
        national, and international artists.","general_info":"HOURS\nTuesday\u2013Saturday
        | 12 \u2013 9 PM\nSunday | 12 \u2013 6 PM\nClosed Mondays","has_added_app":false,"is_community_page":false,"is_published":true,"likes":13381,"link":"https:\/\/www.facebook.com\/uicagr","location":{"city":"Grand
        Rapids","country":"United States","latitude":42.963085,"longitude":-85.668127,"state":"MI","street":"2
        Fulton St W","zip":"49503"},"mission":"The UICA builds creative community
        by fostering new forms of expression, promoting collaboration, and providing
        genuine experiences with contemporary art.","name":"UICA","parking":{"lot":0,"street":0,"valet":0},"phone":"(616)
        454-7000","talking_about_count":186,"username":"uicagr","website":"http:\/\/www.uica.org","were_here_count":3446}'
  recorded_at: Tue, 17 Feb 2015 18:09:33 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/search.json?client_id=166a190b16b649d49a836e2a5ac2a058&facebook_places_id=128013177487
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"latitude":42.963165004,"id":"38158271","longitude":-85.668555821,"name":"UICA"}]}'
  recorded_at: Tue, 17 Feb 2015 18:09:33 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/38158271/media/recent.json?client_id=166a190b16b649d49a836e2a5ac2a058&count=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/locations\/38158271\/media\/recent?count=5\u0026max_id=919958637785535128\u0026client_id=166a190b16b649d49a836e2a5ac2a058","next_max_id":"919958637785535128"},"meta":{"code":200},"data":[{"attribution":null,"tags":["mmmm"],"location":{"latitude":42.963165004,"name":"UICA","longitude":-85.668555821,"id":38158271},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1423963500","link":"http:\/\/instagram.com\/p\/zGnEtACGzn\/","likes":{"count":76,"data":[{"username":"capucinemajus","profile_picture":"https:\/\/scontent-a.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/914374_493292710803405_496507543_a.jpg","id":"297337689","full_name":"Capucine
        Majus"},{"username":"chancelowell","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/10632365_1464952297119503_1125927575_a.jpg","id":"34436044","full_name":"chancelowell"},{"username":"emmleexo","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/10387865_526272077506524_1391705751_a.jpg","id":"25763494","full_name":"Emily
        Vanassche"},{"username":"bbrooks21","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/10734998_1582910988603450_1203404645_a.jpg","id":"181405238","full_name":"Brittany"}]},"images":{"low_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xap1\/t51.2885-15\/s306x306\/e15\/1538559_434328903397186_1494260378_n.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xap1\/t51.2885-15\/s150x150\/e15\/1538559_434328903397186_1494260378_n.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xap1\/t51.2885-15\/e15\/1538559_434328903397186_1494260378_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1423963500","text":"the
        beeb took me to the art museum after dinner downtown\ud83d\udc98 #mmmm","from":{"username":"kkolokowski","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10932318_553030694833642_1996213691_a.jpg","id":"15780538","full_name":"kkolokowski"},"id":"920595020997225813"},"type":"image","id":"920595020854619367_15780538","user":{"username":"kkolokowski","website":"","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10932318_553030694833642_1996213691_a.jpg","full_name":"kkolokowski","bio":"","id":"15780538"}},{"attribution":null,"tags":[],"location":{"latitude":42.963165004,"name":"UICA","longitude":-85.668555821,"id":38158271},"comments":{"count":3,"data":[{"created_time":"1423960506","text":"he''s
        such a good artist","from":{"username":"ultralovely","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xfp1\/t51.2885-19\/10499130_668905389863053_193641861_a.jpg","id":"403159716","full_name":"emily
        hutchinson"},"id":"920569905807963029"},{"create[...]
