---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?client_id=166a190b16b649d49a836e2a5ac2a058&q=downtowngrinc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4983'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"username":"downtowngrinc","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_917430474_75sq_1389033150.jpg","id":"917430474","full_name":"Downtown
        Grand Rapids Inc."}]}'
  recorded_at: Wed, 29 Apr 2015 14:52:05 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/917430474/media/recent.json?client_id=166a190b16b649d49a836e2a5ac2a058
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4982'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/917430474\/media\/recent?max_id=881246211364318589_917430474\u0026client_id=166a190b16b649d49a836e2a5ac2a058","next_max_id":"881246211364318589_917430474"},"meta":{"code":200},"data":[{"attribution":null,"tags":["puremichigan","grmi","grandrapids","dgri","mitp","downtowngr"],"location":{"latitude":42.966514004,"longitude":-85.669851883},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1429796440","link":"https:\/\/instagram.com\/p\/10chkeh2zM\/","likes":{"count":18,"data":[{"username":"stephaniemcao","profile_picture":"http:\/\/photos-e.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11176560_1580195752235292_1131658431_a.jpg","id":"177803218","full_name":"Steph"},{"username":"hsnzsy","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11186863_819189811496000_1214848130_a.jpg","id":"207098980","full_name":"Hasan
        \u00d6zsoy \ud83d\udd34\u26aa\ufe0f"},{"username":"b_movie_euphoria","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xfp1\/t51.2885-19\/10561130_384188811768497_371465106_a.jpg","id":"289874725","full_name":"Nick
        Villaire"},{"username":"gvsubus","profile_picture":"http:\/\/photos-h.ak.instagram.com\/hphotos-ak-xpf1\/t51.2885-19\/10593293_1481971992041351_1893564915_a.jpg","id":"306873741","full_name":"GVSU
        Bus System"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s306x306\/e15\/11189642_761760627277463_867796486_n.jpg","width":306,"height":306},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e15\/11189642_761760627277463_867796486_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/e15\/11189642_761760627277463_867796486_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1429796440","text":"Post
        your best photos from Movies in the Park on Facebook, Instagram, and Twitter
        with the hashtag #MITP. Five lucky participants and a guest will be invited
        to the Movies in the Park Lineup Release on April 30th. Winners will be announced
        April 28th. #mitp #dgri #downtowngr #grandrapids #grmi #puremichigan","from":{"username":"downtowngrinc","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_917430474_75sq_1389033150.jpg","id":"917430474","full_name":"Downtown
        Grand Rapids Inc."},"id":"969525273555332574"},"type":"image","id":"969525272003439820_917430474","user":{"username":"downtowngrinc","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_917430474_75sq_1389033150.jpg","id":"917430474","full_name":"Downtown
        Grand Rapids Inc."}},{"attribution":null,"tags":["afterlight","grandrapids","vscocam","dgri","downtowngr"],"location":{"latitude":42.966806502,"longitude":-85.669867253},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1429742554","link":"https:\/\/instagram.com\/p\/1y1vpWh24e\/","likes":{"count":20,"dat[...]
