---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/uicagr?access_token=CAAE3nAAWevABANHtbBh8BwfVFWNKoI4se5Q1C6Ay9BWVjjLE09wOA8gj9RKStSm5znwhyaPDwlZCDCjPGxxhKbdttY0DXLIkzTg484gtPOE36RKoXefSNuOBt9p3ZApXkrsGJSpSoEtcLqWug6nOme5fxySBCES5a5zEMGcuGxhHnnsnteIcBC5JJNnycZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"0341161b0d5ba21956246fdaee05f511d7366c91"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"id":"128013177487","about":"Urban Institute for Contemporary Arts
        (UICA) is Grand Rapids'' center for contemporary visual arts, film, special
        events, education, and community events.","can_post":true,"category":"Non-profit
        organization","category_list":[{"id":"197384240287028","name":"Art Gallery"},{"id":"151676848220295","name":"Education"},{"id":"192511100766680","name":"Movie
        Theatre"}],"checkins":3695,"cover":{"cover_id":"10153115409447488","offset_x":0,"offset_y":104,"source":"https:\/\/fbcdn-sphotos-e-a.akamaihd.net\/hphotos-ak-xpt1\/t31.0-8\/s720x720\/11041150_10153115409447488_1061929903915395072_o.jpg","id":"10153115409447488"},"description":"The
        Urban Institute for Contemporary Arts initiates conversation in response to
        visual art, music, film, literature, dance and performance art featuring regional,
        national, and international artists.","general_info":"HOURS\nTuesday\u2013Saturday
        | 12 \u2013 9 PM\nSunday | 12 \u2013 6 PM\nClosed Mondays","has_added_app":false,"is_community_page":false,"is_published":true,"likes":13212,"link":"https:\/\/www.facebook.com\/uicagr","location":{"city":"Grand
        Rapids","country":"United States","latitude":42.963163253817,"longitude":-85.668556344721,"state":"MI","street":"2
        Fulton St W","zip":"49503"},"mission":"The UICA builds creative community
        by fostering new forms of expression, promoting collaboration, and providing
        genuine experiences with contemporary art.","name":"UICA","parking":{"lot":0,"street":0,"valet":0},"phone":"(616)
        454-7000","talking_about_count":107,"username":"uicagr","website":"http:\/\/www.uica.org","were_here_count":3695}'
  recorded_at: Wed, 01 Apr 2015 15:50:30 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/search.json?client_id=166a190b16b649d49a836e2a5ac2a058&facebook_places_id=128013177487
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"latitude":42.963163254,"id":"38158271","longitude":-85.668556345,"name":"UICA"}]}'
  recorded_at: Wed, 01 Apr 2015 15:50:30 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/38158271/media/recent.json?client_id=166a190b16b649d49a836e2a5ac2a058
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/locations\/38158271\/media\/recent?max_id=930416660173456484\u0026client_id=166a190b16b649d49a836e2a5ac2a058","next_max_id":"930416660173456484"},"meta":{"code":200},"data":[{"attribution":null,"tags":["disart2015","ale"],"location":{"latitude":42.963163254,"name":"UICA","longitude":-85.668556345,"id":38158271},"comments":{"count":0,"data":[]},"filter":"Slumber","created_time":"1427510695","link":"https:\/\/instagram.com\/p\/0wUz75Fb4e\/","likes":{"count":12,"data":[{"username":"theveganvolcano","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/1209468_815258535159526_1857347265_a.jpg","id":"1453609703","full_name":"The
        Vegan Volcano"},{"username":"hartman138","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/10299844_341279142735383_1829198715_a.jpg","id":"48668949","full_name":"Nicholas
        Hartman"},{"username":"tjhamilton","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/1538564_828362223891107_1324792927_a.jpg","id":"18895550","full_name":"TJ  Hamilton"},{"username":"patrickmmaguire","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_1053284798_75sq_1391347489.jpg","id":"1053284798","full_name":"Patrick
        Maguire"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s306x306\/e15\/11049128_288281167962743_1969274147_n.jpg","width":306,"height":306},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e15\/11049128_288281167962743_1969274147_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/e15\/11049128_288281167962743_1969274147_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1427510695","text":"New
        surroundings @uicagr #ALE #disart2015","from":{"username":"kates_will","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_26471390_75sq_1358564795.jpg","id":"26471390","full_name":"Katherine
        Williams"},"id":"950351051542084932"},"type":"image","id":"950351051307204126_26471390","user":{"username":"kates_will","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_26471390_75sq_1358564795.jpg","id":"26471390","full_name":"Katherine
        Williams"}},{"attribution":null,"tags":["light","vsco","gr","uica","markii"],"location":{"latitude":42.963163254,"name":"UICA","longitude":-85.668556345,"id":38158271},"comments":{"count":1,"data":[{"created_time":"1427229974","text":"#vsco
        #markii #uica #light #gr","from":{"username":"kaylaalise","profile_pic[...]
