---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/2?client_id=FTHVA1CAJUU4PLMR0PUY4MD2DOK4GOLDMRLSWM3O3F1YCH4Q&client_secret=EZJ3GV5OAZUEUIJ5NBAP5BV5SAQCBQF3HNDSBPCCEG1GAKJY&v=20150201
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '5'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":400,"errorType":"param_error","errorDetail":"Value
        2 is invalid for venue id"},"response":{}}'
  recorded_at: Thu, 09 Apr 2015 18:02:05 GMT
recorded_with: VCR 2.9.3
