---
http_interactions:
- request:
    method: put
    uri: https://dgritest.nationbuilder.com/api/v1/people/push?access_token=97df9786df0ba35267c1291e61731148c72093828789a22f0dfb3fd7c96b4578
    body:
      encoding: UTF-8
      string: '{"person":{"email":"lectus.quis","email_opt_in":true},"access_token":"97df9786df0ba35267c1291e61731148c72093828789a22f0dfb3fd7c96b4578"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Nation-Ratelimit-Limit:
      - '10000'
      Nation-Ratelimit-Remaining:
      - '9987'
      Nation-Ratelimit-Reset:
      - '1429315200'
      Status:
      - 400 Bad Request
      X-Pulse-Approved:
      - 'true'
      X-Ratelimit-Limit:
      - 10s
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '1429291327'
    body:
      encoding: UTF-8
      string: '{"code":"validation_failed","message":"Validation Failed.","validation_errors":["email
        ''lectus.quis'' should look like an email address"]}'
  recorded_at: Fri, 17 Apr 2015 17:21:58 GMT
recorded_with: VCR 2.9.3
