---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/145271862204424/photos?client_id=FTHVA1CAJUU4PLMR0PUY4MD2DOK4GOLDMRLSWM3O3F1YCH4Q&client_secret=EZJ3GV5OAZUEUIJ5NBAP5BV5SAQCBQF3HNDSBPCCEG1GAKJY&limit=5&v=20150201
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '4'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":400,"errorType":"param_error","errorDetail":"Value
        145271862204424 is invalid for venue id"},"response":{}}'
  recorded_at: Wed, 29 Apr 2015 14:18:55 GMT
recorded_with: VCR 2.9.3
