---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?client_id=166a190b16b649d49a836e2a5ac2a058&q=downtowngrinc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"username":"downtowngrinc","bio":"Sharing
        our perspective on the happenings in Downtown Grand Rapids \u0026 seeking
        your involvement in the development of your city. #dgri","website":"http:\/\/www.downtowngr.org","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_917430474_75sq_1389033150.jpg","full_name":"Downtown
        Grand Rapids Inc.","id":"917430474"}]}'
  recorded_at: Tue, 17 Feb 2015 19:27:25 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/917430474/media/recent.json?client_id=166a190b16b649d49a836e2a5ac2a058
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/917430474\/media\/recent?max_id=837826456892960376_917430474\u0026client_id=166a190b16b649d49a836e2a5ac2a058","next_max_id":"837826456892960376_917430474"},"meta":{"code":200},"data":[{"attribution":null,"tags":["valentice","icesculptures","arcticscene","iceguru","grmi"],"location":null,"comments":{"count":1,"data":[{"created_time":"1423945044","text":"@jcwdevan
        did you see these? So awesome!","from":{"username":"apothecaryoffmain","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_430266778_75sq_1372458872.jpg","id":"430266778","full_name":"Apothecary
        Off Main"},"id":"920440202500467966"}]},"filter":"Perpetua","created_time":"1423942738","link":"http:\/\/instagram.com\/p\/zF_eVFh27x\/","likes":{"count":36,"data":[{"username":"marmo_jo","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/10788002_849299491796713_1375338060_a.jpg","id":"145208970","full_name":"Martina
        J"},{"username":"liz14jones","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_400618861_75sq_1369968810.jpg","id":"400618861","full_name":"Julia
        Jones"},{"username":"downtown_tc","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_1145925506_75sq_1393948269.jpg","id":"1145925506","full_name":"Downtown
        Traverse City"},{"username":"tarahwegner","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10004304_318617348320258_1533941533_a.jpg","id":"1482324439","full_name":"Tara
        Wegner"}]},"images":{"low_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s306x306\/e15\/10963903_1383589831954534_537918980_n.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/10963903_1383589831954534_537918980_n.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/e15\/10963903_1383589831954534_537918980_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1423942738","text":"Some
        more Arctic fun for this year''s #ValentICE! Say hello to our walrus, penguin,
        seal and polar bear. #iceguru #grmi #icesculptures #arcticscene","from":{"username":"downtowngrinc","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_917430474_75sq_1389033150.jpg","id":"917430474","full_name":"Downtown
        Grand Rapids Inc."},"id":"920420860224302467"},"type":"image","id":"920420860022976241_917430474","user":{"username":"downtowngrinc","website":"","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_917430474_75sq_1389033150.jpg","full_name":"Downtown
        Grand Rapids Inc.","bio":"","id":"917430474"}},{"attribution":null,"tags":["valentice","speakerseries","peterkageyama"],"location":null,"comments":{"count":1,"data":[{"created_time":"1423782358","text":"So
        cool!","from":{"username":"eastowngr","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profil[...]
