---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/4abfea57f964a520f89220e3/photos?client_id=FTHVA1CAJUU4PLMR0PUY4MD2DOK4GOLDMRLSWM3O3F1YCH4Q&client_secret=EZJ3GV5OAZUEUIJ5NBAP5BV5SAQCBQF3HNDSBPCCEG1GAKJY&limit=5&v=20150201
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '14'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ex:
      - fastly_cdn
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"response":{"photos":{"count":5,"items":[{"id":"534c71dd11d251f5603747de","createdAt":1397518813,"source":{"name":"Foursquare
        Web","url":"https:\/\/foursquare.com"},"prefix":"https:\/\/irs2.4sqi.net\/img\/general\/","suffix":"\/51026340_wQ9aPGg1Dopd0NUrKDN1AGQU1tRpe9bg-RSVUuOmHN8.jpg","width":1200,"height":800,"user":{"id":"51026340","firstName":"San
        Chez, A Tapas Bistro","gender":"none","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/51026340-SZWWVMOBIYF5UUQM.png"},"type":"venuePage","venue":{"id":"4abfea57f964a520f89220e3"}},"visibility":"public"},{"id":"534c71eb11d251f5603748e5","createdAt":1397518827,"source":{"name":"Foursquare
        Web","url":"https:\/\/foursquare.com"},"prefix":"https:\/\/irs1.4sqi.net\/img\/general\/","suffix":"\/51026340_VahiLuFxZZbD7v4a1DL6enVgcc20mwbPDNcvFle2KQ0.jpg","width":1200,"height":800,"user":{"id":"51026340","firstName":"San
        Chez, A Tapas Bistro","gender":"none","photo":{"prefix":"https:\/\/irs1.4sqi.net\/img\/user\/","suffix":"\/51026340-SZWWVMOBIYF5UUQM.png"},"type":"venuePage","ven[...]
