---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.3/founderstaproom?access_token=CAAE3nAAWevABANHtbBh8BwfVFWNKoI4se5Q1C6Ay9BWVjjLE09wOA8gj9RKStSm5znwhyaPDwlZCDCjPGxxhKbdttY0DXLIkzTg484gtPOE36RKoXefSNuOBt9p3ZApXkrsGJSpSoEtcLqWug6nOme5fxySBCES5a5zEMGcuGxhHnnsnteIcBC5JJNnycZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"9f5345f7059a43a4ff4a84cd77f280f61c544731"'
      Facebook-Api-Version:
      - v2.3
    body:
      encoding: UTF-8
      string: '{"id":"175902751236","about":"This is the Official Fan Page of the
        Taproom at Founders Brewing Company! Come here for all the latest beer and
        concert news!  Find the Brewery Fan Page here: facebook.com\/foundersbrewingofficial","attire":"Casual","can_post":true,"category":"Bar","category_list":[{"id":"144535972273084","name":"Brewery"},{"id":"110290705711626","name":"Bar"}],"checkins":111102,"cover":{"cover_id":"10151766393656237","offset_x":0,"offset_y":49,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xap1\/t31.0-8\/s720x720\/856731_10151766393656237_500691020_o.jpg","id":"10151766393656237"},"culinary_team":"Justin
        Golinski -  Deli Manager","description":"COMMUNITY POLICY\n\nThis Facebook
        page is administered by Founders Brewing Co. and is not run in conjunction
        with or endorsed by Facebook. Founders Brewing Co. reserves the right to remove
        inappropriate comments or posts from this page. We will not tolerate abusive
        language; harassing, threatening or attacking other users; nor will we allow
        trolling or deliberate disruption of discussion. We ask that all posts and
        comments on our page related to Founders or the craft beer community in some
        way so that they contribute to a relevant ongoing conversation. Please keep
        it clean and respect your fellow beer enthusiasts. Thanks for being a part
        of the extended Founders Family and for joining us on this ride. Cheers!","general_manager":"Mark
        Dorich","has_added_app":false,"is_community_page":false,"is_published":true,"likes":49699,"link":"https:\/\/www.facebook.com\/founderstaproom","location":{"city":"Grand
        Rapids","country":"United States","latitude":42.958419954492,"longitude":-85.67375449952,"state":"MI","street":"235
        Grandville Ave SW","zip":"49503"},"name":"Founders Taproom","parking":{"lot":1,"street":1,"valet":0},"payment_options":{"amex":1,"cash_only":0,"discover":1,"mastercard":1,"visa":1},"phone":"(616)
        776-1195","price_range":"$ (0-10)","public_transit":"Conveniently located
        directly across from the central bus station! We thought green ahead of time!","restaurant_services":{"delivery":0,"catering":0,"groups":1,"kids":0,"outdoor":1,"reserve":0,"takeout":1,"waiter":0,"walkins":1},"restaurant_specialties":{"breakfast":0,"coffee":0,"dinner":1,"drinks":1,"lunch":1},"talking_about_count":366,"username":"founderstaproom","website":"www.FoundersBrewing.com","were_here_count":111102}'
  recorded_at: Wed, 01 Apr 2015 15:51:25 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/search.json?client_id=166a190b16b649d49a836e2a5ac2a058&facebook_places_id=175902751236
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4997'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"latitude":42.958419954,"id":"21144","longitude":-85.6737545,"name":"Founders
        Taproom"}]}'
  recorded_at: Wed, 01 Apr 2015 15:51:25 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/21144/media/recent.json?client_id=166a190b16b649d49a836e2a5ac2a058
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4996'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/locations\/21144\/media\/recent?max_id=946741713415956823\u0026client_id=166a190b16b649d49a836e2a5ac2a058","next_max_id":"946741713415956823"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"location":{"latitude":42.958419954,"name":"Founders
        Taproom","longitude":-85.6737545,"id":21144},"comments":{"count":0,"data":[]},"filter":"Inkwell","created_time":"1427890069","link":"https:\/\/instagram.com\/p\/07oaNzh30t\/","likes":{"count":8,"data":[{"username":"krisrolls","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_40062328_75sq_1365727591.jpg","id":"40062328","full_name":"Kris
        Rolls"},{"username":"radebaugha","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xfp1\/t51.2885-19\/10549605_675783635868463_701450001_a.jpg","id":"36859058","full_name":""},{"username":"tinester","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10616918_1515744498658859_970859526_a.jpg","id":"32625269","full_name":"Kristine"},{"username":"cashew15","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_2769749_75sq_1305296591.jpg","id":"2769749","full_name":""}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s306x306\/e15\/11094476_1080529151963799_1068529237_n.jpg","width":306,"height":306},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e15\/11094476_1080529151963799_1068529237_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/e15\/11094476_1080529151963799_1068529237_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1427890069","text":"@bennettband","from":{"username":"nickwyma","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_680478_75sq_1289799386.jpg","id":"680478","full_name":"Nicholas
        Wyma"},"id":"953533469827759156"},"type":"image","id":"953533469508992301_680478","user":{"username":"nickwyma","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_680478_75sq_1289799386.jpg","id":"680478","full_name":"Nicholas
        Wyma"}},{"attribution":null,"tags":[],"location":{"latitude":42.958419954,"name":"Founders
        Taproom","longitude":-85.6737545,"id":21144},"comments":{"count":3,"data":[{"created_time":"1427856066","text":"@roycetyrell
        \ud83d\udc46\ud83d\udc46","from":{"username":"mstekac","profile_picture":"https:\/\/igcdn-phot[...]
