---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/search.json?client_id=166a190b16b649d49a836e2a5ac2a058&foursquare_v2_id=4b12c269f964a5208b8d23e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"latitude":42.958419962,"id":"21144","longitude":-85.673754698,"name":"Founders
        Taproom"}]}'
  recorded_at: Tue, 17 Feb 2015 19:38:27 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/21144/media/recent.json?client_id=166a190b16b649d49a836e2a5ac2a058
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/locations\/21144\/media\/recent?max_id=915451082056695655\u0026client_id=166a190b16b649d49a836e2a5ac2a058","next_max_id":"915451082056695655"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"location":{"latitude":42.958419962,"name":"Founders
        Taproom","longitude":-85.673754698,"id":21144},"comments":{"count":1,"data":[{"created_time":"1424180032","text":"Ahh
        dang, God showed up after we left?? :) Good to see you last night.","from":{"username":"ohliviacordes","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xap1\/t51.2885-19\/10475077_653689581385429_1515419756_a.jpg","id":"377645205","full_name":"Olivia
        Cordes"},"id":"922411430312524388"}]},"filter":"Normal","created_time":"1424148731","link":"http:\/\/instagram.com\/p\/zMIX5qiboy\/","likes":{"count":30,"data":[{"username":"deangriffin21","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10817912_670373603079889_540156782_a.jpg","id":"291014818","full_name":"Dag"},{"username":"__emilypeters","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10723899_1584720955081741_780738526_a.jpg","id":"144967692","full_name":"Emily
        Peters"},{"username":"mallie_b13","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10725177_298656263673554_503900655_a.jpg","id":"209596942","full_name":"mallie_b13"},{"username":"browcoww77","profile_picture":"https:\/\/igcdn-photos-a-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10844301_307619249429528_2020812107_a.jpg","id":"23015271","full_name":"Mark
        Brower"}]},"images":{"low_resolution":{"url":"http:\/\/scontent-b.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s306x306\/e15\/10946548_391949857644569_1028718600_n.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/scontent-b.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/10946548_391949857644569_1028718600_n.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/scontent-b.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/e15\/10946548_391949857644569_1028718600_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1424148731","text":"and
        sometimes you find God at Founders. And yes, sometimes God speaks louder than
        the blaring music.","from":{"username":"mynameis_jerm","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpf1\/t51.2885-19\/10554149_1516998841901163_560296336_a.jpg","id":"512555621","full_name":"Jeremy"},"id":"922148850708888477"},"type":"image","id":"922148850541115954_512555621","user":{"username":"mynameis_jerm","website":"","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpf1\/t51.2885-19\/10554149_1516998841901163_560296336_a.jpg","full_name":"Jeremy","bio":"","id":"512555621"}},{"attribution":null,"tags":["valentines"],"location":{"latitude":42.958419978,"name":"Founders
        Taproom","longitude":-85.673754828,"id":21144},"comments":{"count":0,"data":[]},"filter":"Sierra","created_time":"1423974639","link":"http:\/\/instagram.com\/p\/zG8UgzLu5s\/","likes":{"count":23,"data":[{"username":"l_blaine","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xfp1\/t51.2885-19\/10549713_738922022831318_1459074432_a.jpg","id":"1440211800[...]
